/* GameBoard.css */

#game-board {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: fit-content;
  border-collapse: collapse;
}

/* Rows */
#game-board > li {
  display: flex;
  justify-content: center;
}

/* Columns */
#game-board ol {
  display: flex;
  padding: 0;
  margin: 0;
}

/* Cells */
#game-board li {
  list-style: none;
}

/* Buttons (cells) */
#game-board button {
  width: 90px;
  height: 90px;
  background-color: #333;
  border: 2px solid #555;
  font-size: 2rem;
  font-weight: bold;
  color: #00e676;
  transition: all 0.2s ease;
  border-radius: 6px; 
  padding: 0.5rem 1rem;
  cursor: pointer; 
  transition: background-color 0.3s ase;
}

#game-board button:hover {
  background-color: #444;
  transform: scale(1.05);
}

#game-board button:disabled {
  cursor: not-allowed;
  color: #999;
  background-color: #222;
}

/* Remove outer borders for perfect grid lines */
#game-board li:first-child button {
  border-top: none;
}
#game-board li:last-child button {
  border-bottom: none;
}
#game-board ol li:first-child button {
  border-left: none;
}
#game-board ol li:last-child button {
  border-right: none;
}
