#log {
  list-style: none;
  padding: 10px;
  margin-top: 20px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 250px;
}

#log li {
  padding: 6px;
  font-size: 0.95rem;
  border-bottom: 1px solid #eee;
}

#log li:last-child {
  border-bottom: none;
}

#log li span {
  font-weight: bold;
}
